.App {
  text-align: left;
  background-color: #dee97d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1000s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: hsl(209, 72%, 48%);
  padding: 10px ;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
