body {
  font-family: 'BauhausRegular';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BauhausRegular';
  src: local('BauhausRegular'), url(./fonts/BauhausRegular.ttf) format('truetype');
}